{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .my-grid{
        border: 1px solid blue;
    }
    .my-grid-item{
        border: 1px solid black;
    }

</style>
<!--        <p class="my-grid-item m-auto">item <img src="{% static 'images/messenger.png' %}"></p> to imp image-->
<div class="container">
    <div class="my-grid d-flex flex-row">
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>

    </div>
    <div class="my-grid d-flex flex-column mt-4">   
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
    </div>

</div>
{% endblock content %}